.junie
*.sym
*.vs
*.dbg
*.prg
*.pef
*.efo
.source.txt
.DS_Store
@.Spindle/environment.mk
*.d64

!00.dirart/*.d64
!11a.rotzoomer/includes/*.prg

.vs/
.x64/
*.ilk
*.pdb
*.idb
*.ipdb
*.tlog
*.obj
*.filters
*.user
*.recipe
*.log
*.enc
*.iobj
*.exe
